@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-autofill:-webkit-autofill {
  background-color: white;
  box-shadow: 0 0 0 30px white inset;
}

.search-btn {
  transition: width 0.3s ease-in-out !important;

  & button {
    transition: all 0.1s;
  }
}

.spinner img {
  animation: spin 1.5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
