---
import background from "@assets/background.svg";
import { App } from "./App";
---

<div class="h-full">
  <img
    src={background.src}
    fetchpriority="high"
    class="w-full h-full top-0 left-0 fixed z-0 blur-3xl"
  />
  <App client:load />
</div>

<script></script>
